################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
/.vs
/Junto.Api/bin
/Junto.Api/obj
/Junto.Application/bin
/Junto.Application/obj
/Junto.Infra/bin
/Junto.Infra/obj
/Junto.Test/bin
/Junto.Test/obj
junto.db
